@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arcane";
  src: url("../public/Arcane-Regular.otf");
}

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 1rem; */
}

body {
  min-height: 100dvh;
  background-color: #010102;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.verticalLine {
  margin-inline: 0.5rem;
  width: 0.15rem;
  background-color: #ccc;
  height: 5rem;
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}

.glitch-text {
  text-shadow: #9b0000 0 0, #00ffff56 0 0;
  transition: text-shadow 100ms linear;
}

.glitch-text:hover {
  text-shadow: #9b0000 -4px 0, #00ffff56 0 0;
}

.active {
  animation: glitch 800ms infinite linear;
  /* padding-bottom: 0.45rem; */
  position: relative;
}

.active::after {
  content: "";
  background-color: #9b0000;
  width: 80%;
  height: 3px;
  display: block;
  border: 0.25rem;
}
.active::before {
  content: "";
  background-color: #9b0000;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

input,
select,
textarea {
  padding: 0.55rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
}

label {
  width: 100%;
}

@keyframes glitch {
  0% {
    text-shadow: red 0 0, cyan 0 0;
  }
  25% {
    text-shadow: red -4px 0, cyan 0 0;
  }
  50% {
    text-shadow: red 0 0, cyan 0 0;
  }
  75% {
    text-shadow: red 2px 0, cyan 0 0;
  }
  100% {
    text-shadow: red 0 0, cyan 0 0;
  }
}

/* .clipped {
  width: 400px;
  height: 400px;
  background: turquoise url("../public/bg-image.jpg");
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}
.clipped2 {
  width: 400px;
  height: 400px;
  background: turquoise url("../public/contact-image.jpg");
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path2);
  clip-path: url(#my-clip-path2);
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer components {
  .btn {
    @apply bg-blue-600 text-indigo-200 rounded-md font-medium px-4 py-2 hover:bg-red-400 hover:text-black;
  }
}
